<!doctype html>
<html data-theme="light">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Cache" content="no-cache" />
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <meta name="keywords" content="<%= context.config.define.keywords %>" />
  <meta name="description" content="<%= context.config.define.description %>" />
  <meta name="copyright" content="@<%= context.config.title %>" />
  <meta name="full-screen" content="true" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="360-fullscreen" content="true" />
  <meta name="x5-orientation" content="portrait" />
  <meta name="screen-orientation" content="portrait" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <meta name="og:title" content="Metalents- Sign Up Today & Earn Rewards!" />
  <meta name="og:type" content="website" />
  <meta name="og:url" content="https://metalents.com/invite" />
  <meta name="og:description" content="Get started freelancing in Web 3 today by signing up for Metalents. No KYC, Rewards for using the platform & the option to get paid in Crypto!" />
  <meta name="og:image" content="https://main-res.metalents.com/71d444092a50c0bff236c8ef8d2a7347-1659595588.jpg" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5DBX1MQ8TP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-5DBX1MQ8TP');
  </script>
  <!-- Start of bounce5285 Zendesk Widget script  Service-SYS -->  
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=f0707b31-0c92-4230-8947-b71f925d0f23" defer async></script>
<!-- End of bounce5285 Zendesk Widget script -->
</head>

<body>
  <main id="root"></main>
  <link rel="stylesheet" href="/css/animate.min.css" />

</body>

</html>